@font-face {
    font-family: 'Ubuntu-Regular';
    src: url('../assets/fonts/Ubuntu-Regular.ttf');
}

html, body, h4, p, ul {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    font-size: 0;
}

.wrapper {
    min-width: 1280px;
    font-family: 'Ubuntu-Regular', sans-serif;
}

.arrow {
    display: none;
    position: absolute;
    bottom: 28px;
    left: 50%;
    min-width: 28px;
    min-height: 28px;
    background: url("../assets/icons/arrow-down.svg") center/28px 28px no-repeat;
    cursor: pointer;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 100%;
    min-height: 64px;
    background: #ffffff;
    z-index: 9999;
    color: #212121;
}

.brand {
    font-size: 24px;
    font-weight: bold;
}

.contact {
    font-size: 20px;
}

.contact__phone {
    color: #212121;
    text-decoration: none;
    border-bottom: 2px solid #212121;
}

.contact__phone:hover {
    color: #558b2f;
    border-bottom: 2px solid #558b2f;
}

.navigation__list {
    display: flex;
}

.navigation__item {
    margin: 0 8px 0 0;
}

.navigation__item:last-child {
    margin: 0;
}

.navigation__link {
    font-size: 18px;
}

.about {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 640px;
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("../assets/images/about.jpg");
    background-position: center;
    background-size: cover;
    background-color: #1e2731;
    color: #ffffff;
    text-align: center;
}

.about__heading {
    font-size: 38px;
    margin: 0 0 12px;
}

.about__description {
    font-size: 28px;
    margin: 0 0 12px;
}

.about__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    max-width: 256px;
    min-height: 48px;
    margin: 0 auto;
    outline: none;
    border: none;
    border-radius: 4px;
    background: #4caf50;
    font-family: inherit;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
}

.about__button:hover {
    opacity: .9;
}

.howto {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 640px;
    background: #eeeeee;
    color: #212121;
    text-align: center;
}

.howto__wrapper {
    max-width: 1280px;
    padding: 24px 0 24px;
}

.howto__heading {
    margin: 0 0 12px;
    font-size: 38px;
}

.howto__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0 36px;
    margin: 0 0 36px;
}

.howto__item {
    padding: 12px;
    background: #ffffff;
    border-radius: 2px;
}

.howto__item-heading {
    position: relative;
    font-size: 28px;
    color: #212121;
    margin: 0 0 12px;
}

.howto__image {
    max-height: 128px;
    max-width: 128px;
    margin: 0 0 24px;
}

.howto__item-description {
    font-size: 24px;
    color: #212121;
}

.howto__description {
    font-size: 22px;
}

.advantages {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 640px;
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("../assets/images/delivery.jpg");
    background-position: center;
    background-size: cover;
    background-color: #1e2731;
    color: #ffffff;
    text-align: center;
}

.advantages__wrapper {
    max-width: 1280px;
}

.advantages__heading {
    margin: 0 0 12px;
    font-size: 38px;
}

.advantages__description {
    font-size: 24px;
    line-height: 36px;
    margin: 0 0 36px;
}

.advantages__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    max-width: 256px;
    min-height: 48px;
    margin: 0 auto;
    outline: none;
    border: none;
    border-radius: 4px;
    background: #4caf50;
    font-family: inherit;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
}

.more {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 640px;
    background: #eeeeee;
    color: #212121;
    text-align: center;
}

.more__wrapper {
    max-width: 1280px;
    padding: 24px 0 24px;
}

.more__heading {
    margin: 0 0 12px;
    font-size: 38px;
}

.more__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 36px;
    margin: 32px 0 32px;
}

.more__item-heading {
    position: relative;
    font-size: 28px;
    color: #ffffff;
    margin: 0 0 12px;
    padding: 8px;
    background: #4caf50;
}

.more__item {
    background: #ffffff;
    border-radius: 2px;
    padding: 16px 0 16px;
}

.more__image {
    max-height: 128px;
    max-width: 128px;
    margin: 12px 0 12px;
}

.more__item-description {
    font-size: 24px;
    color: #212121;
    margin: 0 0 12px;
}

.more__description {
    font-size: 22px;
}

.more__box:before {
    content: '';
    max-width: 512px;
    max-height: 512px;
    background: url("../assets/images/bot.png") center/22px 22px no-repeat;
}

.more__sublist {
    margin: 0 0 12px;
}

.more__subitem {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 36px;
    border-bottom: 2px dashed #bdbdbd;
}

.more__subitem:first-child {
    border-top: 2px dashed #bdbdbd;
}

.more__subitem-description {
    font-size: 18px;
}

.more__item-price {
    font-size: 28px;
    margin: 0 0 12px;
}

.more__button {
    text-decoration: none;
    min-width: 256px;
    min-height: 48px;
    outline: none;
    border: none;
    border-radius: 4px;
    background: #4caf50;
    font-family: inherit;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
}

.order {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 640px;
    background: #eeeeee;
    color: #212121;
    /*background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("../assets/images/order.jpg");
    background-position: center;
    background-size: cover;
    background-color: #1e2731;*/
    text-align: center;
}

.order__wrapper {
    max-width: 1280px;
    padding: 24px 0 24px;
}

.order__heading {
    margin: 0 0 12px;
    font-size: 38px;
}

.order__description {
    font-size: 24px;
    line-height: 36px;
    margin: 0 0 36px;
}

.order__form {
    display: flex;
    flex-direction: column;
}

.order__input {
    min-height: 48px;
    min-width: 512px;
    margin: 0 0 12px;
    border-radius: 4px;
    padding: 0 0 0 8px;
    outline: none;
    color: #212121;
    font-size: 16px;
    font-family: inherit;
    background: transparent;
    border: 2px solid #212121;
}

.order__input::placeholder {
    color: #212121;
}

.order__button {
    text-decoration: none;
    min-width: 256px;
    min-height: 48px;
    outline: none;
    border: none;
    border-radius: 4px;
    background: #4caf50;
    font-family: inherit;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
}

.demo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 640px;
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("../assets/images/demo.jpg");
    background-position: top;
    background-size: cover;
    background-color: #1e2731;
    color: #ffffff;
    text-align: center;
}

.demo__wrapper {
    max-width: 1280px;
}

.demo__heading {
    margin: 0 0 12px;
    font-size: 38px;
}

.demo__description {
    font-size: 24px;
    line-height: 36px;
    margin: 0 0 36px;
}

.demo__button {
    text-decoration: none;
    min-width: 256px;
    min-height: 48px;
    outline: none;
    border: none;
    border-radius: 4px;
    background: #4caf50;
    font-family: inherit;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 120px;
    background: #242424;
    color: #ffffff;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 960px;
    min-height: 100px;
}

.footer__caption {
    font-size: 18px;
}

.footer__link {
    margin: 0 8px 0 0;
}

.footer__icon {
    max-height: 32px;
    max-width: 32px;
    transition: .8s opacity;
}

.footer__icon:hover {
    opacity: .8;
}

.footer__social {
    display: flex;
    align-items: center;
}

.footer__caption_social {
    margin: 0 8px 0 0;
}

@media (max-width: 768px) {
    .wrapper {
        min-width: 300px;
    }

    .header {
        flex-direction: column;
        justify-content: center;
    }

    .about__wrapper {
        max-width: 300px;
    }

    .howto__wrapper {
        max-width: 300px;
    }

    .howto__list {
        grid-template-columns: 1fr;
        grid-gap: 36px 0;
    }

    .advantages__wrapper {
        max-width: 300px;
    }

    .more__wrapper {
        max-width: 300px;
    }

    .demo__wrapper {
        max-width: 300px;
    }

    .order__wrapper {
        max-width: 300px;
    }

    .order__input {
        min-width: 240px;
    }

    .more__list {
        grid-template-columns: 1fr;
        grid-gap: 36px 0;
    }

    .footer__wrapper {
        min-width: 300px;
        flex-direction: column;
        justify-content: center;
    }

    .footer__caption_copyright {
        margin: 0 0 8px;
    }

    .footer__caption_social {
        display: none;
    }
}